/**
 * =============================================================================
 * Fonts
 * =============================================================================
 */

$font-default: "OpenSansRegular", Arial, sans-serif;

$font-weight-alpha: 400;
$font-weight-beta: 300;
$font-weight-gamma: 600;

/**
 * Base font size (em base).
 * As the name says, this value serves as base font size for every
 * relative sizing needs.
 * -----------------------------------------------------------------------------
 */

$em-base: 16;

/**
 * =============================================================================
 * Grid
 * =============================================================================
 */

$grid-columns: 12;

/**
 * =============================================================================
 * Responsive
 * =============================================================================
 */

$bp-radix: 0;
$bp-alpha-xs: 320;
$bp-alpha-s: 480;
$bp-alpha: 600;
$bp-beta-s: 800;
$bp-beta: 1024;
$bp-gamma-s: 1200;
$bp-gamma: 1280;


/**
 * =============================================================================
 * Colors
 * =============================================================================
 */

$color-text: #474747;


$color-gray: #919191;
$color-white: #fff;
$color-black: #000;
$color-lightGray: #777;
$color-blue: #069cce;

$color-facebook: #3b5999;
$color-google-plus: #de4b39;

// Brand ledo

$color-brand-ledo: #069cce;


/**
 * Brand color vaules
 * -----------------------------------------------------------------------------
 */
$color-brand-alpha: #c20a00;
//$color-brand-alpha: #e00000;
$color-brand-beta: #d0d3d4;
$color-brand-gamma: #fcfcfc;
$color-brand-red: #ee0000;

/**
 * Link color vaules
 * -----------------------------------------------------------------------------
 */
$color-link: $color-brand-alpha;
$color-link-hover: #610002;

/**
 * =============================================================================
 * Dimensions
 * =============================================================================
 */

/**
 * Spacing
 * -----------------------------------------------------------------------------
 */

$spacing-size-alpha: 5;
$spacing-size-beta: 10;
$spacing-size-gamma: 15;
$spacing-size-delta: 20;

/**
 * Borders
 * -----------------------------------------------------------------------------
 */

$border-radius-alpha: 6px;

$cachebuster: 2014021901;