// bower:scss
// endbower

@import '_globals.scss';
@import '_grid.scss';
@import '_utilities.scss';
@import 'mixins.scss';

body {
    background: #fafafa;
    font-family: 'Flamenco', sans-serif;
    color: #333;
}

a { color: #c20a00; }

h1 { font-size: 100px; font-weight: 400; @include rem('padding-bottom', 40); @include rem('margin-bottom', 40); margin-top: 0; border-bottom: #d3d3d3 1px solid; }
    .demoTime h1 { padding-bottom: 0; margin-bottom: 0; border: 0; }

ul { margin: 0; padding: 0; }

h2 { @include rem('font-size', 80); @include rem('line-height', 90); margin: 0; @include rem('margin-bottom', 40); }
p { margin: 0; @include rem('font-size', 60); @include rem('line-height', 70); }


.Logos { text-align: center; }
.Logos li { vertical-align: middle; text-align: center; }
.Logos li img { max-width: 80% }


h1 img { @include transition(all .5s ease-out); @include transform(scale(0)); width: 20%; }
.go-anim h1 img { @include transform(scale(1)); }



.demoTime svg { width: 50%; }
path {
  stroke: #000;
  stroke-width: 1px;
  fill: #000;
  fill-opacity: 0;
  stroke-dasharray: 9999px;
  stroke-dashoffset: 9999px;
}